<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

</head>
<body class="bg grey darken-1">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<table class="table table-hover table-bordered table-striped" style="width:100%" id="tabla_usuarios" data-order='[[ 1, "asc" ]]' data-page-length='25'>
					<thead class="thead bg-primary white-text">
						<tr>
							<th>Username</th>
							<th>Nombre</th>
							<th>Apellido1</th>
							<th>Apellido2</th>
							<th>Email</th>
							<th>Cumpleaños</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario: ${usuarios}">
							<td th:text="${usuario.username}"></td>
							<td th:text="${usuario.nombre}"></td>
							<td th:text="${usuario.apellido1}"></td>
							<td th:text="${usuario.apellido2}"></td>
							<td th:text="${usuario.email}"></td>
							<td th:text="${#dates.format(usuario.fhNacimiento, 'dd/MM/yyyy')}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')" class="text-center">
								<a class="btn btn-success btn-sm px-3 btnNuevo" id="btnNuevo" th:href="@{'/usuarioNuevo'}"> <i class="fas fa-user-plus fa-fw fa-lg"></i></a>
								<a class="btn btn-primary btn-sm px-3 btnEditar" th:href="@{/usuario/} + ${usuario.id}"> <i class="fas fa-user-edit fa-fw fa-lg"></i></a>
								<a class="btn btn-danger btn-sm px-3 btnEliminar" th:onclick="eliminarRegistro([[${usuario.id}]], '¿Desea eliminar el usuario?', 'Esta operación no se puede deshacer', '/usuario/eliminar/', '/usuario/listar')" id="btnEliminar"> <i class="fas fa-user-times fa-fw fa-lg"></i></a>
								<a class="btn btn-warning btn-sm px-3 btnChangePass" th:href="@{/cambiarClave/} + ${usuario.id}" id="btnChangePass"> <i class="fas fa-user-lock fa-fw fa-lg"></i></a>
							</td>
						</tr>
					</tbody>

				</table>
				<!-- <nav th:replace="paginator-nav :: paginator"></nav> -->

				<!-- Modal Registro-->
				<div class="modal fade bg-black usuarioModal" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					
					
				</div>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
	
	
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			function eliminarUsuario() {
				Swal.fire({
					  title: 'Eliminar usuario',
					  text: "¿Está seguro de que quiere eliminar?",
					  icon: 'warning',
					  showCancelButton: true,
					  confirmButtonColor: '#3085d6',
					  cancelButtonColor: '#d33',
					  confirmButtonText: 'Yes, delete it!'
					}).then((result) => {
					  if (result.value) {
					    Swal.fire(
					      'Deleted!',
					      'Your file has been deleted.',
					      'success'
					    )
					  }
				});
			}
			*/	
			
			
			
			
			
			
			// Datatable
			$('#tabla_usuarios').DataTable({
				ordering : true,
				"scrollX": true,
				"language": {
				    "sProcessing":     "Procesando...",
	                "sLengthMenu":     "Mostrar _MENU_ registros",
	                "sZeroRecords":    "No se encontraron resultados",
	                "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
	                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
	                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
	                "sInfoPostFix":    "",
	                "sSearch":         "Buscar:",
	                "sUrl":            "",
	                "sInfoThousands":  ",",
	                "sLoadingRecords": "Cargando...",	                
	                "oPaginate": {
	                    "sFirst":    "Primero",
	                    "sLast":     "Último",
	                    "sNext":     "Siguiente",
	                    "sPrevious": "Anterior"
	                },
	                "oAria": {
	                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
	                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	                },
	                "buttons": {
	                    "copy": "Copiar",
	                    "colvis": "Visibilidad"
	                }
				}
			});
		});
	</script>

	

	

	<!-- JS Datatable -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
</body>
</html>