<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body class="bg elegant-color">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					
					<div class="card-body">

						<!-- Cambiar Clave -->
						
						<form th:action="@{/usuario/accion=cambiarClave}" th:object="${usuario}" method="post" enctype="multipart/form-data" class="md-form" id="formularioRegistro">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header text-center text-white bg black">
									<h4 class="modal-title w-100 font-weight-bold" th:text="${titulo}"></h4>
									<a class="close" aria-label="Close" th:href="@{'/usuario/listar'}">
										<span aria-hidden="true" class="text-white">x</span>
									</a>
								</div>
								<div class="modal-body mx-3">
									<h2 th:text="| ${#strings.capitalizeWords(usuario.nombre)}  ${#strings.capitalizeWords(usuario.apellido1)}  ${#strings.capitalizeWords(usuario.apellido2)} |"></h2>

									<div class="row">
										<div class="col-md-6">
											<div class="md-form mb-0">
												<i class="fas fa-lock prefix grey-text"></i> <input type="password" autocomplete="off" max="60" th:field="*{password}" id="password" name="password" class="form-control validate"> <label for="orangeForm-pass">Password</label>
											</div>
										</div>
										<div class="col-md-6">
											<div class="md-form mb-0">
												<i class="fas fa-lock prefix grey-text"></i> <input type="password" autocomplete="off" max="60" th:value="${password}" id="password2" name="password2" class="form-control validate"> <label for="orangeForm-pass2">Repite Password</label>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer d-flex justify-content-center">
									<button id="btnLimpiarUsuario" type="reset" class="btn btn-eg">Limpiar</button>
									<button id="btnGuardarUsuario" class="btn btn-eg" onclick="submit">Guardar</button>
								</div>
							</div>
						</div>
							<input type="hidden" th:field="*{id}">
							<input type="hidden" th:field="*{nombre}">
							<input type="hidden" th:field="*{apellido1}">
							<input type="hidden" th:field="*{apellido2}">
							<input type="hidden" th:field="*{fhNacimiento}">
							<input type="hidden" th:field="*{username}">
							<input type="hidden" th:field="*{email}">
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<footer th:replace="layout/layout :: footer"></footer>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#btnLimpiarUsuario").on( "click", function(evt) {
				evt.preventDefault();
				document.getElementById("password").value = "";
				document.getElementById("password2").value = "";
			});
		});
	
	</script>

	
</body>
</html>