<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title th:text="'Ecija Gaming Community'"></title>
<link rel="stylesheet" th:href="@{/css/eg.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/all.css}" />
<link rel="stylesheet" th:href="@{/css/css.css}" />
<link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/summernote-bs4.min.css}" />
<link rel="stylesheet" th:href="@{/css/summernote.min.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300">
</head>
<body>

	<header th:fragment="header">
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<img th:src="@{/images/logoEG.jpg}" height="45" class="d-inline-block rounded-circle" alt="mdb logo">EGC
				<button class="navbar-toggler" type="button" data-toggle="collapse" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="#" th:href="@{/evento/eventos}">Eventos</a></li>
						<li class="nav-item"><a class="nav-link" href="#" th:href="@{/usuario/listar}">Usuarios</a></li>
						<!-- <li class="nav-item"><a class="nav-link" href="#" th:href="@{/listar}">Cliente</a></li> -->
						<li class="nav-item"><a class="nav-link" href="#" th:href="@{/torneo/listar}">Torneos</a></li>
						<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="#" th:href="@{/chat}">Chat</a></li>
					</ul>
					<ul class="navbar-nav navbar-right">
						<li sec:authorize="!isAuthenticated()"><a class="btn btn-outline-warning btn-sm" th:href="@{/login}">Iniciar Sessión</a></li>

						<li sec:authorize="isAuthenticated()" class="dropdown show">
							<a class="btn btn-outline-warning dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span sec:authentication="name"></span>
							</a>
							
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<form id="logoutForm" th:action="@{/logout}" method="post">
									<button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();" type="submit">Sign Out</button>
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</form>
								<span sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a class="text-black" href="#" th:href="@{/configuracion}">Configuración</a></span>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<div class="alert alert-success" id="mensajeSuccess" th:if="${success != null}" th:text="${success}"></div>
			<div class="alert alert-danger" id="mensajeDanger" th:if="${error != null}" th:text="${error}"></div>
			<div class="alert alert-warning" id="mensajeWarning" th:if="${warning != null}" th:text="${warning}"></div>
			<div class="alert alert-info" id="mensajeInfo" th:if="${info != null}" th:text="${info}"></div>
		</div>
	</header>

	<div class="container"></div>


	<!-- Footer -->
	<footer th:fragment="footer" class="page-footer font-small unique-color-dark">

		<div style="background-color: #6351ce;">
			<div class="container">

				<!-- Grid row-->
				<div class="row py-2 d-flex align-items-center">

					<!-- Grid column -->
					<div class="col-md-12">
						<div class="flex-center m-2">
							<!-- Facebook -->
							<a class="fb-ic" target="_blank" href="https://www.facebook.com/ecijagaming"> <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
							</a>
							<!-- Twitter -->
							<a class="tw-ic" target="_blank" href="https://twitter.com/Ecijagaming"> <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
							</a>
							<!--Instagram-->
							<a class="ins-ic" target="_blank" href="https://www.instagram.com/ecijagamingcommunity"> <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
							</a>
						</div>
					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row-->

			</div>
		</div>

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-3">

			<!-- Grid row -->
			<div class="row mt-3">

				<!-- Grid column -->
				<div class="col-md-6 col-lg-4 col-xl-3 mx-auto mb-4">

					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold">¿Quienes somos?</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<img class="img-fluid" alt="Alguno de los socios" th:src="@{/images/SociosEG.jpg}">

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">¿Qué hacemos?</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>Torneo de Videojuegos</p>
					<p>Torneo Juegos de mesa</p>
					<p>Reuniones en comunidad</p>
					<p>Organizar eventos</p>

				</div>
				

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Contáctanos</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
					<p>
						<i class="fas fa-home mr-3"></i> New York, NY 10012, US
					</p>
					<p>
						<i class="fas fa-envelope mr-3"></i> info@example.com
					</p>
					<p>
						<i class="fas fa-phone mr-3"></i> + 01 234 567 88
					</p>
					<p>
						<i class="far fa-clock mr-3"></i> Lunes-Domingo 09:30 - 22:00
					</p>
				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">
			© 2020 Copyright: <a href="https://mdbootstrap.com/"> rgarcial1983</a>
		</div>
		<!-- Copyright -->

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery-ui.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/mdb.min.js}"></script>
		<script th:src="@{/js/summernote-bs4.min.js}"></script>
		<script th:src="@{/js/summernote.min.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				setTimeout(function() {
					$(".alert").fadeOut(1500);
				}, 2000);

				/*
				setTimeout(function() {
				    $(".content2").fadeIn(1500);
				},6000);
				 */
			});
		</script>

	</footer>
	<!-- Footer -->

	
</body>
</html>