<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body class="bg elegant-color">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="row justify-content-md-center">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-header">
						<span th:text="${titulo}"></span>
						<a class="close" aria-label="Close" th:href="@{'/evento/listar'}">
							<span aria-hidden="true">×</span>
						</a>
					</div>
					<div class="card-body">

						<!-- Modal Nuevo/Editar -->

						<form th:action="@{/evento/form}" th:object="${evento}" method="post" enctype="multipart/form-data" class="md-form mt-0" id="formulario">
							<div class="form-group row">
								
								<div class="col-sm">
									<div class="md-form m-0">
										<i class="fas fa-envelope prefix grey-text"></i> <input type="text" th:field="*{nombre}" id="nombre" class="form-control mb-3"> <label for="defaultForm-text">Título</label>
									</div>

									<div class="md-form">
										<i class="fas fa-pencil-alt prefix grey-text"></i>
										<textarea id="torneoDescripcion" th:field="*{descripcion}" class="md-textarea form-control mb-3" rows="2"></textarea>
										<label for="torneoDescripcion">Descripción</label>
									</div>
									
									<div class="md-form m-0">
										<i class="fas fa-calendar-alt prefix grey-text"></i> <input type="text" th:field="*{fecha}"  id="fecha" class="form-control mb-3"> <label for="defaultForm-text">Fecha</label>
									</div>

									<div class="md-form m-0">
										<i class="far fa-clock prefix grey-text"></i> <input type="text" th:field="*{hora}" id="hora" class="form-control mb-3"> <label for="defaultForm-text">Hora</label>
									</div>

									<div class="md-form m-0">
										<i class="fas fa-map-marker-alt prefix grey-text"></i> <input type="text" th:field="*{lugar}" id="lugar" class="form-control mb-3"> <label for="defaultForm-text">Lugar</label>
									</div>
									
									<div class="md-form m-0">
										<i class="fas fa-euro-sign prefix grey-text"></i> <input type="text" th:field="*{precio}" id="precio" class="form-control mb-3"> <label for="defaultForm-text">Precio</label>
									</div>

									<div class="md-form m-0">
										<i class="fa fa-code prefix grey-text"></i> <input type="text" th:field="*{url}" id="url" class="form-control mb-3"> <label for="defaultForm-text">Url</label>
									</div>
									
									<div class="md-form m-0">
										<i class="fas fa-image prefix grey-text"></i> <input type="text" th:field="*{foto}" id="foto" class="form-control mb-3"> <label for="defaultForm-text">Foto</label>
									</div>
									<div class="md-form m-0">
										<i class="fas fa-image prefix grey-text"></i> <input type="text" th:field="*{foto2}" id="foto2" class="form-control mb-3"> <label for="defaultForm-text">Foto</label>
									</div>
									<div class="md-form m-0">
										<i class="fas fa-image prefix grey-text"></i> <input type="text" th:field="*{foto3}" id="foto3" class="form-control mb-3"> <label for="defaultForm-text">Foto</label>
									</div>

								</div>
							</div>
							<div class="modal-footer d-flex justify-content-center">
								<button id="btnGuardar" class="btn btn-eg" onclick="submit">Guardar</button>
								<button id="btnBorrar" type="reset" class="btn btn-eg">Limpiar</button>
							</div>
							
							<input type="hidden" th:field="*{id}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<footer th:replace="layout/layout :: footer"></footer>

	
</body>
</html>