<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300">

</head>
<body class="bg grey darken-1">

	<header th:replace="layout/layout :: header"></header>


	<div class="container py-3">
		<div class="row">
			<div class="md-form my-0 col-md-9">
				<form class="form-inline" th:action="@{/buscarEvento}" id="buscarEvento">
					<input autofocus="autofocus" class="form-control mr-sm-2 text-white" type="text" name="q" id="myFilter" th:placeholder="${param.q}" aria-label="Buscar">
				</form>
			</div>
			<div class="md-form my-0 col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
				<a id="btnNuevoArriba" class="btn btn-outline-warning waves-effect px-3" th:href="@{/evento}"> 
					<i class="fa fa-gamepad fa-1x fa-fw" ></i>  Nuevo Evento
				</a>
			</div>
		</div>

		<!-- Card Start -->
		<div class="card mt-3" th:each="evento: ${eventos}">
			<div class="row flex">

				<!-- Carousel start -->
				<div class="col-md-5" th:classappend="${evento.id % 2 == 0} ? 'order-2' : 'order-1'">
					<!-- Div Carousel foto -->
					
					<div th:if="(${evento.video == ''})" th:id="'CarouselTest' + ${evento.id}" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li th:attr="data-target='#CarouselTest' + ${evento.id}" data-slide-to="0" class="active"></li>
							<li th:attr="data-target='#CarouselTest' + ${evento.id}" data-slide-to="1"></li>
							<li th:attr="data-target='#CarouselTest' + ${evento.id}" data-slide-to="2"></li>

						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block" th:src="${evento.foto}" alt="">
							</div>
							<div class="carousel-item">
								<img class="d-block" th:src="${evento.foto2}" alt="">
							</div>
							<div class="carousel-item">
								<img class="d-block" th:src="${evento.foto3}" alt="">
							</div>
							<a class="carousel-control-prev" th:attr="href='#CarouselTest' + ${evento.id}" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
							</a> 
							<a class="carousel-control-next" th:attr="href='#CarouselTest' + ${evento.id}" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
							</a>
						</div>
					</div>
					
					<div th:if="(${evento.video != ''})" th:id="'CarouselTest' + ${evento.id}" class="embed-responsive embed-responsive-16by9">
  						<iframe class="embed-responsive-item" th:src="${evento.video}"></iframe>
					</div>
				</div>
				<!-- End of carousel -->
				
				<div class="col-md-7" th:classappend="${evento.id % 2 == 0} ? 'order-1' : 'order-2'">
					<div class="card-block px-6 mt-2 ml-2">
						<h3 class="card-title text-center">
							<strong th:text=${evento.nombre}></strong>
						</h3>
						<p class="card-text" th:text=${evento.descripcion}></p>
						<br> 
						<!-- Fecha y hora -->
						<div >
							<i class="fas fa-calendar-alt fa-1x fa-fw" style="color: #b80f22;"></i> <span class="card-text" th:text="${#dates.format(evento.fecha, 'dd/MM/yyyy')}"></span> <i class="far fa-clock fa-1x fa-fw"
								style="color: #b80f22;"></i> <span class="card-text" th:text="${#dates.format(evento.hora, 'HH:mm')}"></span>
						</div>
						<!-- Lugar -->
						<div>
							<i class="fas fa-map-marker-alt fa-1x fa-fw" style="color: #b80f22;"></i> <span class="card-text" th:text="${evento.lugar}"></span>
						</div>
						<!-- Precio -->
						<div>
							<i class="fas fa-euro-sign fa-1x fa-fw" style="color: #b80f22;"></i> <span class="card-text" th:text="${evento.precio}"></span>
						</div>
						<!-- Url enlace -->
						<div>
							<i class="fas fa-code fa-1x fa-fw" style="color: #b80f22;"></i> <a class="card-text" th:href="@{${'https:' + evento.url}}" th:text="${evento.url}"></a>
						</div>
						
					</div>
				</div>
				
			</div>
			<!-- Botonera de acciones -->
			<div class="mt-auto text-center" sec:authorize="hasRole('ROLE_ADMIN')">
				<a id="btnNuevo" class="btn btn-outline-warning waves-effect px-3" th:href="@{/evento}">
					<i class="fas fa-plus-circle fa-fw " style="color: #b80f22;"></i>
				</a>
				<a id="btnEliminar" class="btn btn-outline-warning waves-effect px-3" th:onclick="eliminarRegistro([[${evento.id}]], '¿Desea eliminar el evento?', 'Esta operación no se puede deshacer', '/evento/eliminar/', '/evento/listar')" >
					<i class="far fa-trash-alt fa-fw " style="color: #b80f22;"></i>
				</a>
				<a id="btnEditar" class="btn btn-outline-warning waves-effect px-3" th:href="@{/evento/} + ${evento.id}">
					<i class="far fa-edit fa-fw " style="color: #b80f22;"></i>
				</a>
			</div>
		</div>
		<!-- End of card -->
		<br>
		<footer th:replace="layout/layout :: footer"></footer>

	</div>

	<script type="text/javascript">	
        $(document).ready(function() {
            
            if($("#myFilter").attr("placeholder") == '' || $("#myFilter").attr("placeholder")==undefined) {    	
                $("#myFilter").attr("placeholder", "Buscar...");
            }
	        
        });
        
	</script>


</body>
</html>